/* Generic styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1,h2,h3 {
  text-align: center;
}
.main-container {
  padding: 16px;
}
.center {
  text-align: center;
}
.spacer {
  height: 32px;
}


/* Home */
.cover-img {
  width: 100%;
  height: auto;
  max-width: 220px;
}
.botones-compra {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.order-btn {
  height: 70px;
}


/* Navbar */
#navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:darkslategray;
}
#navbar li {
  float: right;
}
#navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
text-decoration: none;
}
#navbar a:hover {
  background-color: salmon;
}



/* Detalles */
.img-block {
    display: flex;
    gap: 16px;
  }
.img-item {
  flex: 33.33%;
}
.img-item img {
  width: 100%;
}
.duo {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.duo-img img{
  width: 200px;
}



/* Author */
.author-container {
 display: flex;
 flex-wrap: wrap;
 gap: 16px;
}
.author-img img{
  width: 100%;
}
.author-txt {
  flex: 1;
  min-width: 300px;
}
 /** {border: 2px solid red;}  
